
.vs/CSharpSecurityInformationSystem/v14/.suo
obj/Debug/CSharpSecurityInformationSystem.csproj.FileListAbsolute.txt
obj/Debug/CSharpSecurityInformationSystem.csproj.FileListAbsolute.txt
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
